body {
  font-family: Arial, sans-serif;
  margin-top: 80px;
  padding: 20px;
  background-color: #a8e898;
  font-size: large;
}
h1 {
  margin-bottom: 20px;
  text-align: center;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  text-decoration: underline;
}
ul {
  margin-top: 0;
  padding-left: 30px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
li {
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  body {
    margin-top: 10px;
  }
}
