body {
  background-color: #a8e898;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #a8e898;
  /* padding: 10px; */
  text-align: center;
  margin-top: 20px;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  color: #333;
}

main {
  max-width: 800px;
  margin: 0px auto;
  padding: 5px;
  /* background-color: #88f1c5;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

section {
  margin-bottom: 10px;
}

a {
  color: blue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
